*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Amiko", serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: rgb(65, 65, 65);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: rgb(65, 65, 65);
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.section {
  padding-bottom: 4rem;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-family: "Glegoo", serif;
  font-size: 4.5rem;
  font-weight: 300;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #f5f5f5;
  letter-spacing: 2px;
}

.section-padding {
  padding: 6em 2em;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(315deg, #000000, #414141);
  transition: opacity 0.5s ease-out;
  z-index: 1000;
}
.page-loader__balls {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}
.page-loader__balls .ball {
  width: 5rem;
  height: 5rem;
  animation: loaderBounce 0.9s ease-in 2 alternate both;
}
.page-loader__balls .ball2 {
  animation-delay: 0.2s;
}
.page-loader__balls .ball3 {
  animation-delay: 0.4s;
}
@keyframes loaderBounce {
  0% {
    transform: translateY(-45px);
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
  }
  65% {
    transform: translateY(-12px);
  }
  82% {
    transform: translateY(-6px);
  }
  93% {
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.page-loader__text {
  font-size: 1.2rem;
  color: #f5f5f5;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 10;
}
.burger-btn .burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn .burger-btn:hover .burger-btn__bars::before,
.burger-btn .burger-btn:hover .burger-btn__bars::after {
  width: 100%;
}
.burger-btn .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn .burger-btn__bars,
.burger-btn .burger-btn__bars::before,
.burger-btn .burger-btn__bars::after {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #f5f5f5;
  transition: width 0.3s;
}
.burger-btn .burger-btn__bars {
  width: 100%;
}
.burger-btn .burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}
.burger-btn .burger-btn__bars::after {
  top: 13px;
  width: 60%;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  background-image: linear-gradient(310deg, rgb(65, 65, 65), rgba(255, 68, 0, 0.87), rgb(65, 65, 65));
  transition: 0.5s cubic-bezier(0.65, 0.65, 0.36, 1);
  z-index: 100;
}
.nav .nav__item {
  position: relative;
  display: block;
  margin: 0.5em 2em;
  font-family: "Glegoo", serif;
  font-size: 5rem;
  color: transparent;
  text-shadow: 0 0 2.5px #ff6f00;
  -webkit-text-stroke: 0.3rem #333;
  letter-spacing: 0.55rem;
  text-decoration: none;
}
.nav .nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  background-color: #333;
  transition: transform 0.3s;
  content: "";
}
.nav .nav__item:hover::before {
  transform: scaleY(1);
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav--active {
  transform: translateX(0);
}

.header {
  position: relative;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1.5px #f5f5f5;
  background-image: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/header_mobile.png");
  background-size: cover;
  background-position-y: 60%;
}
.header .header__heading {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Glegoo", serif;
  font-size: 4.8rem;
}
.header .header-button {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #f5f5f5;
  animation: bounceUpDown 3s infinite;
  z-index: 50;
}

.personal-statistics .statistics-wrapper {
  display: flex;
  justify-content: space-around;
}
.personal-statistics .statistics-wrapper .holo-card {
  position: relative;
  height: 450px;
  width: 300px;
  border-radius: 5%;
  background-image: url("../img/card/card_front_desktop.PNG");
  filter: brightness(90%);
  background-position: center;
  background-size: cover;
  box-shadow: -5px -5px 5px -5px #ffb300, 5px 5px 5px -5px #ff4500, -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  perspective: 100rem;
  transform-style: preserve-3d;
  transform-origin: center right;
}
.personal-statistics .statistics-wrapper .holo-card .frontside-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.personal-statistics .statistics-wrapper .holo-card .frontside-card .sticker-wrapper .sticker-box {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: -1;
}
.personal-statistics .statistics-wrapper .holo-card .frontside-card .text-box {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #f5f5f5;
  text-shadow: 0 0 1rem #000;
}
.personal-statistics .statistics-wrapper .holo-card .frontside-card .text-box h2 {
  -webkit-text-stroke: 0.5px #000;
}
.personal-statistics .statistics-wrapper .holo-card .backside-card {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgb(65, 65, 65);
  border-radius: 5%;
}
.personal-statistics .statistics-wrapper .holo-card .backside-card .upper-card-side .holo-card__card-info-list {
  list-style: none;
}
.personal-statistics .statistics-wrapper .holo-card .frontside-card::before,
.personal-statistics .statistics-wrapper .holo-card .backside-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5%;
  background-image: linear-gradient(115deg, transparent 0%, rgba(71, 237, 255, 0.6) 30%, rgba(255, 61, 236, 0.6) 70%, transparent 100%);
  background-size: 400% 400%;
  animation: holoEffect 4s infinite linear;
  opacity: 0.3;
  filter: blur(0.2rem);
  z-index: 0;
}
@keyframes holoEffect {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.personal-statistics .statistics-wrapper .holo-card .frontside-card::after,
.personal-statistics .statistics-wrapper .holo-card .backside-card::after {
  content: "";
  height: 450px;
  width: 300px;
  border-radius: 5%;
  background-image: url("../img/card/sparkles.webp"), url("../img/card/holo.webp");
  background-size: 100%;
  background-blend-mode: overlay;
  filter: brightness(1) contrast(1);
  overflow: hidden;
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.8;
  z-index: 2;
}
.personal-statistics .statistics-wrapper .holo-card.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.personal-statistics .statistics-wrapper .holo-card.flipped .frontside-card {
  display: none;
}
.personal-statistics .statistics-wrapper .holo-card.flipped .backside-card {
  display: block;
}
.personal-statistics .statistics-wrapper .stats .birth-stats {
  padding-bottom: 1.5rem;
  color: #f5f5f5;
}
.personal-statistics .statistics-wrapper .stats .birth-stats .timebox {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.personal-statistics .statistics-wrapper .stats .birth-stats .timebox .time {
  padding: 0 1.5rem 1rem;
  font-family: "Glegoo", serif;
}
.personal-statistics .statistics-wrapper .stats .birth-stats .timebox .time h2 {
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke: 0.1rem #f5f5f5;
}
.personal-statistics .statistics-wrapper .stats .stats-wheel-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.personal-statistics .statistics-wrapper .stats .stats-wheel-box .stats-wheel {
  position: relative;
  padding: 0.5em 0;
  width: 45%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.2em;
  border-bottom: 10px solid #ff6f00;
  box-shadow: 0 0 1.5rem #000;
}
.personal-statistics .statistics-wrapper .stats .stats-wheel-box .stats-wheel .stats-number {
  display: grid;
  place-items: center;
  font-family: "Glegoo", serif;
  font-size: 5rem;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px #f5f5f5;
}
.personal-statistics .statistics-wrapper .stats .stats-wheel-box .stats-wheel .stats-text {
  padding: 0.7rem 0;
  color: #e0e0e0;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.quote-section {
  position: relative;
  padding: 10em 2em;
  width: 100%;
  height: 70vh;
  background-size: cover;
  text-align: center;
  color: #f5f5f5;
  overflow: hidden;
}
.quote-section .quote-section__title {
  font-family: "Swanky and Moo Moo", serif;
  margin: 5em 0 0 0;
  font-size: 4rem;
  text-shadow: 0 0 5px #ff4500;
}
.quote-section .quote-section__text {
  padding: 1em 0;
  font-size: 1.5rem;
}

.first-quote {
  background-image: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/quotes/quote_one_mobile.png");
}

.second-quote {
  background-image: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/quotes/quote_two_mobile.png");
}

.third-quote {
  background-image: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/quotes/quote_three_mobile.png");
}

.year-funfacts .card-wrapping {
  display: flex;
  padding: 2rem 8rem;
  margin-bottom: 4rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: -10px -1px 15px #000, 1px 1px 15px #000;
}
.year-funfacts .card-wrapping .cards-slider__header-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  min-width: 250px;
  border-radius: 5%;
  overflow: hidden;
}
.year-funfacts .card-wrapping .cards-slider__header-card .cards-slider__header-card-title,
.year-funfacts .card-wrapping .cards-slider__header-card .cards-slider__header-card-text {
  color: #f5f5f5;
  text-shadow: 0.1rem 0.1rem 10px rgb(0, 0, 0);
  z-index: 1;
}
.year-funfacts .card-wrapping .cards-slider__header-card .cards-slider__header-card-title {
  font-family: "Glegoo", serif;
  font-size: 3.5rem;
  -webkit-text-stroke: 0.8px black;
}
.year-funfacts .card-wrapping .cards-slider__header-card .cards-slider__header-card-text {
  font-size: 1.2rem;
  -webkit-text-stroke: 0.1px black;
}
.year-funfacts .card-wrapping .cards-slider__header-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(0.2rem);
  z-index: 0;
}
.year-funfacts .card-wrapping .music-card::before {
  background-image: url("../img/cards_sliders/cards_headers/music_card_desktop.png");
}
.year-funfacts .card-wrapping .movies-card::before {
  background-image: url("../img/cards_sliders/cards_headers/movies_card_desktop.png");
}
.year-funfacts .card-wrapping .tv-series-card::before {
  background-image: url("../img/cards_sliders/cards_headers/tv-series_card_desktop.png");
}
.year-funfacts .card-wrapping .sport-card::before {
  background-image: url("../img/cards_sliders/cards_headers/sports_card_desktop.png");
}
.year-funfacts .card-wrapping .politics-card::before {
  background-image: url("../img/cards_sliders/cards_headers/politics_card_desktop.png");
}
.year-funfacts .card-wrapping .slider-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}
.year-funfacts .card-wrapping .slider-list .card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: rgb(65, 65, 65);
  filter: grayscale(100%);
  overflow: hidden;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
  scroll-snap-align: start;
  clear: both;
}
.year-funfacts .card-wrapping .slider-list .card .card-header {
  margin-bottom: auto;
  color: #f5f5f5;
  text-shadow: 1px 1px 10px #000, 0 0 5px #000;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.year-funfacts .card-wrapping .slider-list .card .card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
}
.year-funfacts .card-wrapping .slider-list .card .card-header h2 {
  font-size: 2.2rem;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  -webkit-text-stroke: 0.05em black;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}
.year-funfacts .card-wrapping .slider-list .card .card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e2e);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.year-funfacts .card-wrapping .slider-list .card:focus-within ~ .card,
.year-funfacts .card-wrapping .slider-list .card:hover ~ .card {
  transform: translateX(130px);
}
.year-funfacts .card-wrapping .slider-list .card:hover {
  filter: grayscale(0%);
  transform: translateY(-1rem);
}
.year-funfacts .card-wrapping .slider-list .card:not(:first-child) {
  margin-left: -130px;
}
.year-funfacts .card-wrapping .slider-list .card.beyonce-img {
  background-image: url("../img/cards_sliders/songs/beyonce_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.fob-img {
  background-image: url("../img/cards_sliders/songs/fob_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.furtado-img {
  background-image: url("../img/cards_sliders/songs/furtado_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.akon-img {
  background-image: url("../img/cards_sliders/songs/akon_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.mcr-img {
  background-image: url("../img/cards_sliders/songs/mcr_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.timberlake-img {
  background-image: url("../img/cards_sliders/songs/timberlake_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.avril-img {
  background-image: url("../img/cards_sliders/songs/avril_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.patrol-img {
  background-image: url("../img/cards_sliders/songs/patrol_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.redhot-img {
  background-image: url("../img/cards_sliders/songs/redhot_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.yankovic-img {
  background-image: url("../img/cards_sliders/songs/yankovic_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.spider-img {
  background-image: url("../img/cards_sliders/films/spider_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.shrek-img {
  background-image: url("../img/cards_sliders/films/shrek_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.pirates-img {
  background-image: url("../img/cards_sliders/films/pirates_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.rat-img {
  background-image: url("../img/cards_sliders/films/rat_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.transformers-img {
  background-image: url("../img/cards_sliders/films/transformers_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.potter-img {
  background-image: url("../img/cards_sliders/films/potter_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.old-man-img {
  background-image: url("../img/cards_sliders/films/no-country_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.legend-img {
  background-image: url("../img/cards_sliders/films/legend_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.sweeney-img {
  background-image: url("../img/cards_sliders/films/sweeney_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.juno-img {
  background-image: url("../img/cards_sliders/films/juno_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.tbbt-img {
  background-image: url("../img/cards_sliders/tvshows/tbbt_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.gossipgirl-img {
  background-image: url("../img/cards_sliders/tvshows/gossipgirl_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.tudors-img {
  background-image: url("../img/cards_sliders/tvshows/tudors_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.gordon-img {
  background-image: url("../img/cards_sliders/tvshows/gordon_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.californication-img {
  background-image: url("../img/cards_sliders/tvshows/californication_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.phineas-img {
  background-image: url("../img/cards_sliders/tvshows/phineas_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.graham-img {
  background-image: url("../img/cards_sliders/tvshows/graham_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.gottalent-img {
  background-image: url("../img/cards_sliders/tvshows/gottalent_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.euro2012-img {
  background-image: url("../img/cards_sliders/world_events/euro2012_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.fiba-img {
  background-image: url("../img/cards_sliders/sport/fiba_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.nba-img {
  background-image: url("../img/cards_sliders/sport/nba_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.plk-img {
  background-image: url("../img/cards_sliders/sport/plk_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.malysz-img {
  background-image: url("../img/cards_sliders/sport/malysz_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.kowalczyk-img {
  background-image: url("../img/cards_sliders/sport/kowalczyk_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.soccer-img {
  background-image: url("../img/cards_sliders/sport/soccer_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.schengen-img {
  background-image: url("../img/cards_sliders/world_events/schengen_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.slovenia-img {
  background-image: url("../img/cards_sliders/world_events/euro_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.steve-jobs-img {
  background-image: url("../img/cards_sliders/world_events/steve-jobs_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.france-img {
  background-image: url("../img/cards_sliders/world_events/france_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.best-actor-img {
  background-image: url("../img/cards_sliders/world_events/best-actor_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.best-actress-img {
  background-image: url("../img/cards_sliders/world_events/best-actress_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.best-picture-img {
  background-image: url("../img/cards_sliders/world_events/best-picture_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.machu-img {
  background-image: url("../img/cards_sliders/world_events/machu_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.rowling-img {
  background-image: url("../img/cards_sliders/world_events/rowling_desktop.png");
}
.year-funfacts .card-wrapping .slider-list .card.wawa-img {
  background-image: url("../img/cards_sliders/world_events/wawa_desktop.png");
}
.year-funfacts .card-wrapping .slider-list::-webkit-scrollbar {
  width: 1rem;
  height: 0.65rem;
}
.year-funfacts .card-wrapping .slider-list::-webkit-scrollbar-thumb {
  background: #ff4500;
  box-shadow: inset 2px 2px 2px hsla(34, 100%, 90%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.year-funfacts .card-wrapping .slider-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.milestones {
  position: relative;
  min-height: 100vh;
  margin: 0;
}
.milestones .entries {
  position: relative;
  width: calc(100% - 80px);
  max-width: 800px;
  margin: auto;
  position: relative;
  left: -5px;
}
.milestones .entries .entry {
  width: calc(50% - 8rem);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}
.milestones .entries .entry:not(:first-child) {
  margin-top: -60px;
}
.milestones .entries .entry .title {
  position: relative;
  margin-bottom: 12px;
  font-family: "Glegoo", serif;
  font-size: 2rem;
  color: #ff6f00;
}
.milestones .entries .entry .body {
  color: #f5f5f5;
}
.milestones .entries .entry .body p {
  line-height: 1.4em;
}
.milestones .entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
.milestones .entries .entry:nth-child(2n) .title:before {
  left: -63px;
}
.milestones .entries .entry:nth-child(2n) .title.big:before {
  transform: translate(-50%, -50%);
}
.milestones .entries .entry.soon .title {
  color: #86674f;
}
.milestones .entries .entry.soon .body {
  color: #7a7a7a;
}
.milestones .entries::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 260vh;
  width: 4px;
  background: linear-gradient(#ff6f00 25%, #86674f);
  box-shadow: 0 0 10px #ffb300;
}

.bday-cake {
  margin-bottom: -4.6rem;
}
.bday-cake .cake-wishes,
.bday-cake .cake-wishes-signature {
  text-align: center;
  width: 100%;
}
.bday-cake .cake-wishes {
  font-family: "Swanky and Moo Moo", serif;
  color: #ff6f00;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}
.bday-cake .cake-wishes-signature {
  font-family: "Amiko", serif;
  color: #f5f5f5;
  font-size: 0.8em;
  line-height: 2em;
}
.bday-cake .cake {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 2.2rem;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
.bday-cake .cake .candle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.3333333333px;
  width: 5px;
  height: 16.6666666667px;
  background: #ffffff;
  border-radius: 100%;
}
.bday-cake .cake .candle .flame {
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3.3333333333px;
  width: 6.6666666667px;
  height: 12.5px;
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
}
.bday-cake .cake .candle .flame:nth-child(1) {
  animation: flameFire 2s infinite;
}
.bday-cake .cake .candle .flame:nth-child(2) {
  animation: flameFire 1.5s infinite;
}
.bday-cake .cake .candle .flame:nth-child(3) {
  animation: flameFire 1s infinite;
}
.bday-cake .cake .candle .flame:nth-child(4) {
  animation: flameFire 0.5s infinite;
}
.bday-cake .cake .candle .flame:nth-child(5) {
  animation: flameFire 0.2s infinite;
}
@keyframes flameFire {
  0% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    transform: translateY(-10px) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
}
.bday-cake .cake .candle:after,
.bday-cake .cake .candle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.2222222222px;
  background: rgba(255, 0, 0, 0.4);
}
.bday-cake .cake .candle:after {
  top: 25%;
  left: 0;
}
.bday-cake .cake .candle:before {
  top: 45%;
  left: 0;
}
.bday-cake .cake .cake-frosting {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -27.7777777778px;
  margin-top: -5px;
  width: 55.5555555556px;
  height: 12.5px;
  background: #ece7e3;
  border-radius: 50px;
  z-index: 10;
}
.bday-cake .cake .cake-frosting:after,
.bday-cake .cake .cake-frosting:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  background: #ece7e3;
  border-radius: 100px;
}
.bday-cake .cake .cake-frosting:after {
  top: 6.6666666667px;
  right: 14.2857142857px;
}
.bday-cake .cake .cake-frosting:before {
  top: 10px;
  right: 9.0909090909px;
}
.bday-cake .cake .cake-biscuit {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 33.3333333333px;
  background: #6d3826;
}
.bday-cake .cake .cake-biscuit:after,
.bday-cake .cake .cake-biscuit:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: rgba(236, 231, 227, 0.6);
}
.bday-cake .cake .cake-biscuit:after {
  top: 30%;
  left: 0;
}
.bday-cake .cake .cake-biscuit:before {
  top: 60%;
  left: 0;
}
.bday-cake .cake:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background: #ebe3e1;
  border-radius: 100px;
}

.wishes iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 50vh;
}

.chevron-up {
  position: fixed;
  bottom: 5%;
  right: 0%;
  transform: translateX(-50%);
}
.chevron-up .fa-chevron-up {
  padding: 1rem;
  font-size: 3rem;
  color: #ff6f00;
  animation: bounceUpDown 1.5s linear infinite;
}

@keyframes bounceUpDown {
  0%, 50%, 100% {
    transform: translateY(-2.5%);
  }
  25%, 75% {
    transform: translateY(2.5%);
  }
}
.footer {
  margin-top: 1.5rem;
}
.footer .footer-line {
  border: 0.05rem solid #ff6f00;
  box-shadow: 0 0 1rem #ffb300;
}
.footer .wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: #f5f5f5;
}
.footer .wrapper a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.3s;
}
.footer .wrapper a:hover {
  color: #ff6f00;
}

@media (min-width: 1200px) {
  .header {
    background-image: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/header_desktop.jpg");
  }
  .first-quote {
    background-image: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/quotes/quote_one_desktop.jpg");
  }
  .second-quote {
    background: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/quotes/quote_two_desktop.jpg");
  }
  .third-quote {
    background-image: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../img/quotes/quote_three_desktop.jpg");
  }
}/*# sourceMappingURL=main.css.map */