$backgroundDarkmode: #414141;
$backgroundLightmode: #f4f4f4;
$textColorDark: #f5f5f5;
$textColorLight: #333;
$mainAccentColor: #ff6f00;
$darkAccentColor: #ff4500;
$lightAccentColor: #ffb300;
$chevronUpBackground: rgba(244,244,244,.3);
$backgroundShadow: linear-gradient(180deg, rgba(65, 65, 65, 0.5), rgba(0,0,0,.5));
$navBackgroundColor: linear-gradient(315deg, rgb(207, 139, 13), rgb(201, 96, 21));
