@use "./animations" as animations;
@use "./colors" as colors;
@use "./fonts" as fonts;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: fonts.$mainText;
	font-size: 62.5%;
	text-transform: uppercase;
	background-color: colors.$backgroundDarkmode;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

// NAVIGATION BUTTON

// NAVIGATION

// HEADER

.header {
	.header-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;
		background-image: url("../img/header/header_mobile.png");
		background-size: cover;
		background-position: 100% 60%;
		z-index: 0;
		.header__heading {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translateX(-50%);
			font-size: 3.5rem;
			color: colors.$textColorDark;
			filter: drop-shadow(0 0 0.1em colors.$darkAccentColor)
				drop-shadow(0.1em 0 0.1em colors.$backgroundDarkmode);
		}
		.header-button {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			flex-direction: column;
			text-align: center;
			color: colors.$textColorDark;
			.fa-chevron-down {
				font-size: 4rem;
				animation: bouncingArrow 0.9s linear infinite;
				transition: .2s;
			}
			@keyframes bouncingArrow {
				0% {
					transform: translateY(0%);
				}
				50% {
					transform: translateY(-20%);
					scale: 110%;
				}
				100% {
					transform: translateY(0%);
				}
			}
			.fa-chevron-down:hover {
				filter: drop-shadow(0 0 .1em colors.$darkAccentColor);
			}
		}
	}
}

// QUOTES

.quote-section {
	picture {
		width: 100%;
		height: 50%;
	}
	.bg-shadow {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #333;
		z-index: 10;
	}
}

@media (min-width: 992px) {
	.header {
		.header-img {
			background-image: url("../img/header/header_desktop.jpg");
		}
	}
}
