@use "./animations" as animations;
@use "./colors" as colors;
@use "./fonts" as fonts;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-family: fonts.$mainText;
	font-size: 62.5%;
	background-color: colors.$backgroundDarkmode;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// NAVIGATION BUTTON

// NAVIGATION

// HEADER 

.header {
	width: 100%;
	height: 40vh;
	background-image: url("../img/header/header_mobile.png");
	background-size: cover;
	background-position: center;
}


@media (min-width: 992px) {
	.header {
		height: 75vh;
		background-image: url("../img/header/header_desktop.jpg");
	}
}