@use "./animations" as animations;
@use "./colors" as colors;
@use "./fonts" as fonts;
@use "./mixins" as mixins;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: fonts.$mainText;
	font-size: 1.6rem;
	text-transform: uppercase;
	background-color: colors.$backgroundDarkmode;
}

// COMPONENTS

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: colors.$backgroundDarkmode;

	&-left {
		bottom: 0;
		left: -50px;
		transform: skew(45deg);
	}

	&-right {
		top: 0;
		right: -50px;
		transform: skew(45deg);
	}
}
.section {
	padding-bottom: 4rem;
}

.section-heading {
	position: relative;
	margin-bottom: 2em;
	font-family: fonts.$titleText;
	font-size: 4.5rem;
	font-weight: 300;
	text-align: center;
	color: transparent;
	-webkit-text-stroke: 1px colors.$textColorDark;
	letter-spacing: 2px;
}

.section-padding {
	padding: 6em 2em;
}

// LOADING MOMENT

.page-loader {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: colors.$loaderBackground;
	transition: opacity 0.5s ease-out;
	z-index: 1000;
	&__balls {
		display: flex;
		gap: 2.5rem;
		margin-bottom: 1.5rem;
		.ball {
			width: 5rem;
			height: 5rem;
			animation: loaderBounce 0.9s ease-in 2 alternate both;
		}
		.ball2 {
			animation-delay: 0.2s;
		}
		.ball3 {
			animation-delay: 0.4s;
		}
		@keyframes loaderBounce {
			0% {
				transform: translateY(-45px);
				opacity: 1;
			}
			24% {
				opacity: 1;
			}
			40% {
				transform: translateY(-24px);
			}
			65% {
				transform: translateY(-12px);
			}
			82% {
				transform: translateY(-6px);
			}
			93% {
				transform: translateY(-4px);
			}
			25%,
			55%,
			75%,
			87% {
				transform: translateY(0px);
			}
			100% {
				transform: translateY(0px);
				opacity: 1;
			}
		}
	}
	&__text {
		font-size: 1.2rem;
		color: colors.$textColorDark;
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

// NAVIGATION

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 10;
	.burger-btn:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	.burger-btn:hover {
		.burger-btn__bars::before,
		.burger-btn__bars::after {
			width: 100%;
		}
	}
	.burger-btn__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	.burger-btn__bars,
	.burger-btn__bars::before,
	.burger-btn__bars::after {
		position: absolute;
		right: 0;
		height: 3px;
		content: "";
		background-color: colors.$textColorDark;
		transition: width 0.3s;
	}
	.burger-btn__bars {
		width: 100%;
	}
	.burger-btn__bars::before {
		top: 27px;
		width: 30%;
		transition-delay: 0.1s;
	}
	.burger-btn__bars::after {
		top: 13px;
		width: 60%;
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	background-image: colors.$navBackgroundColor;
	transition: 0.5s cubic-bezier(0.65, 0.65, 0.36, 1);
	z-index: 100;
	.nav__item {
		position: relative;
		display: block;
		margin: 0.5em 2em;
		font-family: fonts.$titleText;
		font-size: 5rem;
		color: transparent;
		text-shadow: 0 0 2.5px colors.$mainAccentColor;
		-webkit-text-stroke: 0.3rem colors.$textColorLight;
		letter-spacing: 0.55rem;
		text-decoration: none;
	}
	.nav__item::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 3px;
		height: 100%;
		transform: scaleY(0);
		background-color: colors.$textColorLight;
		transition: transform 0.3s;
		content: "";
	}
	.nav__item:hover::before {
		transform: scaleY(1);
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav--active {
	transform: translateX(0);
}

//  HEADER

.header {
	position: relative;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: transparent;
	-webkit-text-stroke: 1.5px colors.$textColorDark;
	background-image: colors.$backgroundShadow, url("../img/header/header_mobile.png");
	background-size: cover;
	background-position-y: 60%;
	.header__heading {
		position: absolute;
		top: 32%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: fonts.$titleText;
		font-size: 4.8rem;
	}
	.header-button {
		position: absolute;
		bottom: 6%;
		left: 50%;
		transform: translateY(-50%);
		font-size: 3rem;
		color: colors.$textColorDark;
		animation: bounceUpDown 3s infinite;
		z-index: 50;
	}
}

// PERSONAL STATISTICS

.personal-statistics {
	.statistics-wrapper {
		display: flex;
		justify-content: space-around;
		.holo-card {
			position: relative;
			height: 450px;
			width: 300px;
			border-radius: 5%;
			background-image: url("../img/card/card_front_desktop.PNG");
			filter: brightness(90%);
			background-position: center;
			background-size: cover;
			box-shadow: -5px -5px 5px -5px colors.$lightAccentColor,
				5px 5px 5px -5px colors.$darkAccentColor, -7px -7px 10px -5px transparent,
				7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0),
				0 55px 35px -20px rgba(0, 0, 0, 0.5);
			perspective: 100rem;
			transform-style: preserve-3d;
			transform-origin: center right;
			.frontside-card {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				.sticker-wrapper {
					.sticker-box {
						position: absolute;
						top: 0.5rem;
						right: 0.5rem;
						z-index: -1;
					}
				}
				.text-box {
					position: absolute;
					bottom: 10px;
					width: 100%;
					padding: 10px;
					text-align: center;
					color: colors.$textColorDark;
					text-shadow: 0 0 1rem #000;
					h2 {
						-webkit-text-stroke: 0.5px #000;
					}
				}
			}
			.backside-card {
				position: relative;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				display: none;
				background-color: colors.$backgroundDarkmode;
				border-radius: 5%;
				.upper-card-side {
					.holo-card__card-info-list {
						list-style: none;
					}
				}
			}
			.frontside-card::before,
			.backside-card::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 5%;
				background-image: linear-gradient(
					115deg,
					transparent 0%,
					rgba(71, 237, 255, 0.6) 30%,
					rgba(255, 61, 236, 0.6) 70%,
					transparent 100%
				);
				background-size: 400% 400%;
				animation: holoEffect 4s infinite linear;
				opacity: 0.3;
				filter: blur(0.2rem);
				z-index: 0;
			}
			@keyframes holoEffect {
				0% {
					background-position: 0% 0%;
				}
				50% {
					background-position: 100% 100%;
				}
				100% {
					background-position: 0% 0%;
				}
			}
			.frontside-card::after,
			.backside-card::after {
				content: "";
				height: 450px;
				width: 300px;
				border-radius: 5%;
				background-image: url("../img/card/sparkles.webp"), url("../img/card/holo.webp");
				background-size: 100%;
				background-blend-mode: overlay;
				filter: brightness(1) contrast(1);
				overflow: hidden;
				transition: all 0.33s ease;
				mix-blend-mode: color-dodge;
				opacity: 0.8;
				z-index: 2;
			}
		}
		.holo-card.flipped {
			transform: translateX(-100%) rotateY(-180deg);
		}
		.holo-card.flipped .frontside-card {
			display: none;
		}
		.holo-card.flipped .backside-card {
			display: block;
		}
		.stats {
			.birth-stats {
				padding-bottom: 1.5rem;
				color: colors.$textColorDark;
				.timebox {
					display: flex;
					justify-content: space-around;
					text-align: center;
					.time {
						padding: 0 1.5rem 1rem;
						font-family: fonts.$titleText;
						h2 {
							font-size: 5rem;
							color: transparent;
							-webkit-text-stroke: 0.1rem colors.$textColorDark;
						}
					}
				}
			}
			.stats-wheel-box {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				gap: 1rem;
				.stats-wheel {
					position: relative;
					padding: 0.5em 0;
					width: 45%;
					height: 15rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					border-radius: 0.2em;
					border-bottom: 10px solid colors.$mainAccentColor;
					box-shadow: 0 0 1.5rem #000;
					.stats-number {
						display: grid;
						place-items: center;
						font-family: fonts.$titleText;
						font-size: 5rem;
						font-weight: 600;
						color: transparent;
						-webkit-text-stroke: 1px colors.$textColorDark;
					}
					.stats-text {
						padding: 0.7rem 0;
						color: #e0e0e0;
						font-weight: 400;
						font-size: 1.2rem;
						text-align: center;
					}
				}
			}
		}
	}
}

// QUOTE SECTION

.quote-section {
	position: relative;
	padding: 10em 2em;
	width: 100%;
	height: 70vh;
	background-size: cover;
	text-align: center;
	color: colors.$textColorDark;
	overflow: hidden;
	.quote-section__title {
		font-family: fonts.$quoteText;
		margin: 5em 0 0 0;
		font-size: 4rem;
		text-shadow: 0 0 5px colors.$darkAccentColor;
	}
	.quote-section__text {
		padding: 1em 0;
		font-size: 1.5rem;
	}
}
.first-quote {
	background-image: colors.$backgroundShadow, url("../img/quotes/quote_one_mobile.png");
}
.second-quote {
	background-image: colors.$backgroundShadow, url("../img/quotes/quote_two_mobile.png");
}
.third-quote {
	background-image: colors.$backgroundShadow, url("../img/quotes/quote_three_mobile.png");
}

// FUNFACTS

.year-funfacts {
	.card-wrapping {
		display: flex;
		padding: 2rem 8rem;
		margin-bottom: 4rem;
		border: 1px solid transparent;
		border-radius: 1rem;
		box-shadow: -10px -1px 15px #000, 1px 1px 15px #000;
		.cards-slider__header-card {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 400px;
			min-width: 250px;
			border-radius: 5%;
			overflow: hidden;
			.cards-slider__header-card-title,
			.cards-slider__header-card-text {
				color: colors.$textColorDark;
				text-shadow: 0.1rem 0.1rem 10px rgb(0, 0, 0);
				z-index: 1;
			}
			.cards-slider__header-card-title {
				font-family: fonts.$titleText;
				font-size: 3.5rem;
				-webkit-text-stroke: 0.8px black;
			}
			.cards-slider__header-card-text {
				font-size: 1.2rem;
				-webkit-text-stroke: 0.1px black;
			}
		}
		.cards-slider__header-card::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			filter: blur(0.2rem);
			z-index: 0;
		}
		.music-card::before {
			background-image: url("../img/cards_sliders/cards_headers/music_card_desktop.png");
		}
		.movies-card::before {
			background-image: url("../img/cards_sliders/cards_headers/movies_card_desktop.png");
		}
		.tv-series-card::before {
			background-image: url("../img/cards_sliders/cards_headers/tv-series_card_desktop.png");
		}
		.sport-card::before {
			background-image: url("../img/cards_sliders/cards_headers/sports_card_desktop.png");
		}
		.politics-card::before {
			background-image: url("../img/cards_sliders/cards_headers/politics_card_desktop.png");
		}
		.slider-list {
			display: flex;
			padding: 3rem;
			overflow-x: scroll;
			.card {
				position: relative;
				display: flex;
				flex-direction: column;
				margin: 0;
				height: 350px;
				width: 400px;
				min-width: 250px;
				padding: 1.5rem;
				border-radius: 16px;
				background: colors.$backgroundDarkmode;
				filter: grayscale(100%);
				overflow: hidden;
				box-shadow: -1rem 0 3rem #000;
				transition: 0.2s;
				scroll-snap-align: start;
				clear: both;
				.card-header {
					margin-bottom: auto;
					color: colors.$textColorDark;
					text-shadow: 1px 1px 10px #000, 0 0 5px #000;
					backdrop-filter: blur(7px);
				}
				.card-header p {
					font-size: 14px;
					margin: 0 0 1rem;
				}
				.card-header h2 {
					font-size: 2.2rem;
					margin: 0.25rem 0 auto;
					text-decoration: none;
					-webkit-text-stroke: 0.05em black;
					color: inherit;
					border: 0;
					display: inline-block;
					cursor: pointer;
				}

				.card-header h2:hover {
					background: linear-gradient(90deg, #ff8a00, #e52e2e);
					text-shadow: none;
					-webkit-text-fill-color: transparent;
					-webkit-background-clip: text;
					background-clip: text;
				}
			}

			.card:focus-within ~ .card,
			.card:hover ~ .card {
				transform: translateX(130px);
			}
			.card:hover {
				filter: grayscale(0%);
				transform: translateY(-1rem);
			}

			.card:not(:first-child) {
				margin-left: -130px;
			}
			.card.beyonce-img {
				background-image: url("../img/cards_sliders/songs/beyonce_desktop.png");
			}
			.card.fob-img {
				background-image: url("../img/cards_sliders/songs/fob_desktop.png");
			}
			.card.furtado-img {
				background-image: url("../img/cards_sliders/songs/furtado_desktop.png");
			}
			.card.akon-img {
				background-image: url("../img/cards_sliders/songs/akon_desktop.png");
			}
			.card.mcr-img {
				background-image: url("../img/cards_sliders/songs/mcr_desktop.png");
			}
			.card.timberlake-img {
				background-image: url("../img/cards_sliders/songs/timberlake_desktop.png");
			}
			.card.avril-img {
				background-image: url("../img/cards_sliders/songs/avril_desktop.png");
			}
			.card.patrol-img {
				background-image: url("../img/cards_sliders/songs/patrol_desktop.png");
			}
			.card.redhot-img {
				background-image: url("../img/cards_sliders/songs/redhot_desktop.png");
			}
			.card.yankovic-img {
				background-image: url("../img/cards_sliders/songs/yankovic_desktop.png");
			}
			.card.spider-img {
				background-image: url("../img/cards_sliders/films/spider_desktop.png");
			}
			.card.shrek-img {
				background-image: url("../img/cards_sliders/films/shrek_desktop.png");
			}
			.card.pirates-img {
				background-image: url("../img/cards_sliders/films/pirates_desktop.png");
			}
			.card.rat-img {
				background-image: url("../img/cards_sliders/films/rat_desktop.png");
			}
			.card.transformers-img {
				background-image: url("../img/cards_sliders/films/transformers_desktop.png");
			}
			.card.potter-img {
				background-image: url("../img/cards_sliders/films/potter_desktop.png");
			}
			.card.old-man-img {
				background-image: url("../img/cards_sliders/films/no-country_desktop.png");
			}
			.card.legend-img {
				background-image: url("../img/cards_sliders/films/legend_desktop.png");
			}
			.card.sweeney-img {
				background-image: url("../img/cards_sliders/films/sweeney_desktop.png");
			}
			.card.juno-img {
				background-image: url("../img/cards_sliders/films/juno_desktop.png");
			}
			.card.tbbt-img {
				background-image: url("../img/cards_sliders/tvshows/tbbt_desktop.png");
			}
			.card.gossipgirl-img {
				background-image: url("../img/cards_sliders/tvshows/gossipgirl_desktop.png");
			}
			.card.tudors-img {
				background-image: url("../img/cards_sliders/tvshows/tudors_desktop.png");
			}
			.card.gordon-img {
				background-image: url("../img/cards_sliders/tvshows/gordon_desktop.png");
			}
			.card.californication-img {
				background-image: url("../img/cards_sliders/tvshows/californication_desktop.png");
			}
			.card.phineas-img {
				background-image: url("../img/cards_sliders/tvshows/phineas_desktop.png");
			}
			.card.graham-img {
				background-image: url("../img/cards_sliders/tvshows/graham_desktop.png");
			}
			.card.gottalent-img {
				background-image: url("../img/cards_sliders/tvshows/gottalent_desktop.png");
			}
			.card.euro2012-img {
				background-image: url("../img/cards_sliders/world_events/euro2012_desktop.png");
			}
			.card.fiba-img {
				background-image: url("../img/cards_sliders/sport/fiba_desktop.png");
			}
			.card.nba-img {
				background-image: url("../img/cards_sliders/sport/nba_desktop.png");
			}
			.card.plk-img {
				background-image: url("../img/cards_sliders/sport/plk_desktop.png");
			}
			.card.malysz-img {
				background-image: url("../img/cards_sliders/sport/malysz_desktop.png");
			}
			.card.kowalczyk-img {
				background-image: url("../img/cards_sliders/sport/kowalczyk_desktop.png");
			}
			.card.soccer-img {
				background-image: url("../img/cards_sliders/sport/soccer_desktop.png");
			}
			.card.schengen-img {
				background-image: url("../img/cards_sliders/world_events/schengen_desktop.png");
			}
			.card.slovenia-img {
				background-image: url("../img/cards_sliders/world_events/euro_desktop.png");
			}
			.card.steve-jobs-img {
				background-image: url("../img/cards_sliders/world_events/steve-jobs_desktop.png");
			}
			.card.france-img {
				background-image: url("../img/cards_sliders/world_events/france_desktop.png");
			}
			.card.best-actor-img {
				background-image: url("../img/cards_sliders/world_events/best-actor_desktop.png");
			}
			.card.best-actress-img {
				background-image: url("../img/cards_sliders/world_events/best-actress_desktop.png");
			}
			.card.best-picture-img {
				background-image: url("../img/cards_sliders/world_events/best-picture_desktop.png");
			}
			.card.machu-img {
				background-image: url("../img/cards_sliders/world_events/machu_desktop.png");
			}
			.card.rowling-img {
				background-image: url("../img/cards_sliders/world_events/rowling_desktop.png");
			}
			.card.wawa-img {
				background-image: url("../img/cards_sliders/world_events/wawa_desktop.png");
			}
		}

		.slider-list::-webkit-scrollbar {
			width: 1rem;
			height: 0.65rem;
		}
		.slider-list::-webkit-scrollbar-thumb {
			background: colors.$darkAccentColor;
			box-shadow: inset 2px 2px 2px hsla(34, 100%, 90%, 0.25),
				inset -2px -2px 2px rgba(0, 0, 0, 0.25);
		}

		.slider-list::-webkit-scrollbar-track {
			background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
		}
	}
}

// MILESTONES

.milestones {
	position: relative;
	min-height: 100vh;
	margin: 0;
	.entries {
		position: relative;
		width: calc(100% - 80px);
		max-width: 800px;
		margin: auto;
		position: relative;
		left: -5px;
		.entry {
			width: calc(50% - 8rem);
			float: left;
			padding: 20px;
			clear: both;
			text-align: right;
			&:not(:first-child) {
				margin-top: -60px;
			}
			.title {
				position: relative;
				margin-bottom: 12px;
				font-family: fonts.$titleText;
				font-size: 2rem;
				color: colors.$mainAccentColor;
			}
			.body {
				color: colors.$textColorDark;
				p {
					line-height: 1.4em;
				}
			}
			&:nth-child(2n) {
				text-align: left;
				float: right;
				.title {
					&:before {
						left: -63px;
					}
					&.big:before {
						transform: translate(-50%, -50%);
					}
				}
			}
		}
		.entry.soon {
			.title {
				color: colors.$soonColorTitle;
			}
			.body {
				color: colors.$soonColorText;
			}
		}
	}
	.entries::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		height: 260vh;
		width: 4px;
		background: colors.$timeLineColor;
		box-shadow: 0 0 10px colors.$lightAccentColor;
	}
}

// WISHES SECTION

.bday-cake {
	margin-bottom: -4.6rem;
	.cake-wishes,
	.cake-wishes-signature {
		text-align: center;
		width: 100%;
	}
	.cake-wishes {
		font-family: fonts.$quoteText;
		color: colors.$mainAccentColor;
		font-size: 1.5em;
		letter-spacing: 0.1em;
	}
	.cake-wishes-signature {
		font-family: fonts.$mainText;
		color: colors.$textColorDark;
		font-size: 0.8em;
		line-height: 2em;
	}
	.cake {
		position: relative;
		top: 50%;
		left: 50%;
		margin-top: 2.2rem;
		transform: translate(-50%, -50%);
		width: 100px;
		height: 100px;
		.candle {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -2.5px;
			margin-top: -8.333333333333334px;
			width: 5px;
			height: 16.666666666666668px;
			background: #ffffff;
			border-radius: 100%;
			.flame {
				position: absolute;
				top: -12px;
				left: 50%;
				margin-left: -3.3333333333333335px;
				width: 6.666666666666667px;
				height: 12.5px;
				border-radius: 100%;
				box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
			}
			.flame:nth-child(1) {
				animation: flameFire 2s infinite;
			}
			.flame:nth-child(2) {
				animation: flameFire 1.5s infinite;
			}
			.flame:nth-child(3) {
				animation: flameFire 1s infinite;
			}
			.flame:nth-child(4) {
				animation: flameFire 0.5s infinite;
			}
			.flame:nth-child(5) {
				animation: flameFire 0.2s infinite;
			}
			@keyframes flameFire {
				0% {
					background: rgba(254, 248, 97, 0.5);
					transform: translateY(0) scale(1);
				}
				50% {
					background: rgba(255, 50, 0, 0.1);
					transform: translateY(-10px) scale(0);
				}
				100% {
					background: rgba(254, 248, 97, 0.5);
					transform: translateY(0) scale(1);
				}
			}
		}
		.candle:after,
		.candle:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2.2222222222222223px;
			background: rgba(255, 0, 0, 0.4);
		}
		.candle:after {
			top: 25%;
			left: 0;
		}
		.candle:before {
			top: 45%;
			left: 0;
		}
		.cake-frosting {
			position: absolute;
			top: 60%;
			left: 50%;
			margin-left: -27.77777777777778px;
			margin-top: -5px;
			width: 55.55555555555556px;
			height: 12.5px;
			background: #ece7e3;
			border-radius: 50px;
			z-index: 10;
		}
		.cake-frosting:after,
		.cake-frosting:before {
			content: "";
			position: absolute;
			width: 5px;
			height: 10px;
			background: #ece7e3;
			border-radius: 100px;
		}
		.cake-frosting:after {
			top: 6.666666666666667px;
			right: 14.285714285714286px;
		}
		.cake-frosting:before {
			top: 10px;
			right: 9.090909090909092px;
		}
		.cake-biscuit {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -25px;
			width: 50px;
			height: 33.333333333333336px;
			background: #6d3826;
		}
		.cake-biscuit:after,
		.cake-biscuit:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 5px;
			background: rgba(236, 231, 227, 0.6);
		}
		.cake-biscuit:after {
			top: 30%;
			left: 0;
		}
		.cake-biscuit:before {
			top: 60%;
			left: 0;
		}
	}
	.cake:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100px;
		height: 2px;
		background: #ebe3e1;
		border-radius: 100px;
	}
}

.wishes {
	iframe {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 50vw;
		height: 50vh;
	}
}

// CHEVRON UP

.chevron-up {
	position: fixed;
	bottom: 5%;
	right: 0%;
	transform: translateX(-50%);
	.fa-chevron-up {
		padding: 1rem;
		font-size: 3rem;
		color: colors.$mainAccentColor;
		animation: bounceUpDown 1.5s linear infinite;
	}
}

@keyframes bounceUpDown {
	0%,
	50%,
	100% {
		transform: translateY(-2.5%);
	}
	25%,
	75% {
		transform: translateY(2.5%);
	}
}

// FOOTER

.footer {
	margin-top: 1.5rem;
	.footer-line {
		border: 0.05rem solid colors.$mainAccentColor;
		box-shadow: 0 0 1rem colors.$lightAccentColor;
	}
	.wrapper {
		display: flex;
		justify-content: space-around;
		padding: 1rem;
		color: colors.$textColorDark;
		a {
			color: colors.$textColorDark;
			text-decoration: none;
			transition: color 0.3s;
		}
		a:hover {
			color: colors.$mainAccentColor;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		background-image: colors.$backgroundShadow, url("../img/header/header_desktop.jpg");
	}
	.first-quote {
		background-image: colors.$backgroundShadow, url("../img/quotes/quote_one_desktop.jpg");
	}
	.second-quote {
		background: colors.$backgroundShadow, url("../img/quotes/quote_two_desktop.jpg");
	}
	.third-quote {
		background-image: colors.$backgroundShadow, url("../img/quotes/quote_three_desktop.jpg");
	}
}
